:root{
   --bg-color:linear-gradient(90deg,pink, rgb(95, 2, 95)) ;
--bg-color-btn:linear-gradient(90deg,rgb(129, 245, 181), rgb(5, 105, 2)) ;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-image: var(--bg-color);
    background-size: 200%;
    animation: bg 2s infinite alternate ; 
   
}


.boxShadow{ 
    width: 200px;
    height: 200px;
    margin-top: 40px;
    border: 1px solid rgb(229, 255, 0);
    box-shadow: 18px -18px 18px rgb(14, 95, 14);
    
}
.boxShadow :hover{
    transform: scale(0.8);
    
}
.box{
    
    width: 300px;
    height: 300px;
    border: 1px solid red;
    box-shadow: -24px 24px 30px black;
    margin-left: 40px;
}
.box :hover{
    transform: scale(1.2);

}
.color{
    font-size: 30px;
    color: rgb(0, 110, 74);
    font-style: italic;
    margin-left: 20px;
}
.color1{
    font-size: 40px;
    color: rgb(110, 0, 9);
    font-style: italic;
    margin-left: 50px;
    
}
.spinner{
    width: 200px;
    height: 200px;
    border: 12px solid rgb(8, 4, 5);
    margin: 40px;
    border-radius: 50%;
    border-bottom: 12px solid rgb(226, 144, 158) ;
    animation: loading 3s linear infinite;
    background-image: var(--bg-color-btn);

}
@keyframes loading{
0%{
transform: rotate(0deg);
}
100%{
    transform: rotate(360deg);
    }


}

.container{
    
    width: 200px;
    padding: 30px 40px;
    box-shadow:16px 16px 20px pink ;
    margin-top:40px ;
    margin-left: 40px;
    border: 1px solid rgb(241, 123, 143);
    background-color: rgb(255, 179, 211);
    animation: bg 4s infinite; 
}


.title{
    font-style: italic;
    color: rgb(147, 8, 165);
    margin-left: 20px;

}

@keyframes bg {
    0%{
    background-position:left;
    }
    100%{
        background-position:right;
        }
    
    }
    
    
    .title1{
        font-style: italic;
        color: rgb(218, 226, 105);
        margin-left: 20px;
        font-size: 3rem;

    }

    @media only screen and (max-width: 600px){
        .title1{
            font-size: 2rem;
        }
    }
    @media only screen and (max-width: 479px){
        .title1{
            font-size: 1rem;
        }
    }
    